@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 215 16% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 16% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 16% 15%;
    --primary: 208 59% 70%;
    --primary-foreground: 210 40% 5%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 215 16% 15%;
    --muted: 210 20% 90%;
    --muted-foreground: 215 16% 45%;
    --accent: 171 33% 57%;
    --accent-foreground: 210 40% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 208 59% 60%;
    --chart-1: 208 59% 70%;
    --chart-2: 171 33% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 208 59% 70%;
    --sidebar-primary-foreground: 210 40% 5%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 208 59% 55%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 208 59% 65%;
    --primary-foreground: 210 40% 5%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 171 33% 52%;
    --accent-foreground: 210 40% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 23%;
    --input: 217 33% 23%;
    --ring: 208 59% 55%;
    --chart-1: 208 59% 65%;
    --chart-2: 171 33% 52%;
    --chart-3: 197 37% 74%;
    --chart-4: 43 74% 46%;
    --chart-5: 27 87% 47%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 208 59% 70%;
    --sidebar-primary-foreground: 210 40% 5%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 208 59% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
